.sequence {
  display: inline-block;
  margin-right: 10px;
}

button {
  cursor: pointer;
}

.steps {
  margin: 10px auto;
}

.connectWallet.btn {
  width: auto;
  max-width: 200px;
  padding: 10px 20px;
}

.queryAllTokens.btn,
.modifyToken.btn,
.topUp.btn,
.addToken.btn,
.addTX.btn,
.setVerifier.btn,
.setVerifierImgCom.btn,
.setWithdrawLimit.btn,
.setSettler.btn,
.queryProxyInfo.btn,
.setMerkle.btn,
.setOwner.btn {
  margin-bottom: 20px;
}

.input-group-text > .form-control {
  display: block;
}

.logs {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  overflow: auto;
  padding: 10px;
}

.input-group > .queryAddress.form-control {
  width: 100px;
}

.modal-body {
  max-height: 500px;
  overflow: auto;
}

.container {
  margin-bottom: 20px;
}

div.card {
  padding: 0;
}