.sequence {
  display: inline-block;
  margin-right: 10px;
}

button {
  cursor: pointer;
}

.steps {
  margin: 10px;
}

.connectWallet.btn {
  width: auto;
  max-width: 200px; /* Adjust as per your preference */
  padding: 10px 20px; /* Control padding */
}

.setOwner.btn,
.setMerkle.btn,
.setSettler.btn,
.setWithdrawLimit.btn,
.queryAllTokens.btn,
.addToken.btn,
.topUp.btn,
.setCommitments {
  margin-top: 20px;
}

.setCommitments > input {
  margin-left: 10px;
}

.input-group-text > .form-control {
  display: block;
}

.proxyInfo {
  width: 90vw;
  height: 300px;
  border: 1px solid black;
  overflow: auto;
  padding: 10px;
}

.input-group > .queryAddress.form-control {
  width: 100px;
}

.modal-body {
  max-height: 500px;
  overflow: auto;
}

.container {
  margin-bottom: 20px;
}